n8n-workflows/01-scraping-pipeline.json
{
  "name": "01 - Lead Scraping (Google Places API → Backend)",
  "nodes": [
    {
      "parameters": {
        "content": "## Step 1 — Webhook Trigger\n\nรับ POST จาก Backend เมื่อกด Start Campaign\nPayload: { jobId, campaignId, keywords[], location, maxResults }\nตอบ 202 กลับทันที แล้วทำงานต่อ async",
        "height": 220,
        "width": 380,
        "color": 7
      },
      "id": "note-1",
      "name": "Note 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "content": "## Step 2 — Google Places Text Search\n\nเรียก Places API ด้วย query = keyword + location\nใช้ pagetoken loop ได้สูงสุด 2 หน้า (40 results)\nแต่ละ page ต้อง wait 2 วินาทีก่อนเรียก next_page_token",
        "height": 220,
        "width": 400,
        "color": 5
      },
      "id": "note-2",
      "name": "Note 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [720, 100]
    },
    {
      "parameters": {
        "content": "## Step 3 — Place Details + Email Extraction + Save\n\nLoop แต่ละ place:\n1. เรียก Place Details API ดึง website, phone\n2. ถ้ามี website → fetch homepage + /contact + /about\n3. ดึง email ด้วย regex จาก HTML\n4. Filter spam/placeholder emails\n5. POST lead (พร้อม email) กลับ Backend\n6. จบ loop → POST scraping_complete",
        "height": 260,
        "width": 460,
        "color": 3
      },
      "id": "note-3",
      "name": "Note 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1400, 100]
    },
    {
      "parameters": {
        "content": "## Step 3b — Email Extraction\n\n**Has Website? (YES path)**\n1. Prepare 4 URLs: homepage, /contact, /about, /contact-us\n2. Fetch แต่ละ URL (timeout 8s, continueOnFail)\n3. รวม HTML ทั้งหมด → regex หา email\n4. Filter: ลบ noreply, image files, spam domains\n5. เอา email แรกที่เจอส่งต่อ\n\n**Has Website? (NO path)**\n→ ข้ามไป Save Lead เลย (email = null)",
        "height": 280,
        "width": 460,
        "color": 6
      },
      "id": "note-4",
      "name": "Note 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2900, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraping-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: scraping/start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 380],
      "webhookId": "scraping-start-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    jobId: body.jobId,\n    campaignId: body.campaignId,\n    keyword: Array.isArray(body.keywords) ? body.keywords[0] : (body.keyword || ''),\n    location: body.location || '',\n    industry: body.industry || '',\n    maxResults: parseInt(body.maxResults) || 20\n  }\n}];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, jobId: $json.jobId, message: 'Scraping started' }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respond-accepted",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 560]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.keyword + ' ' + $json.location }}" },
            { "name": "key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" },
            { "name": "language", "value": "th" }
          ]
        },
        "options": {}
      },
      "id": "places-search-page1",
      "name": "Places Search Page 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "jsCode": "const page1 = $input.first().json;\nconst inputData = $('Parse Input').first().json;\nconst results = page1.results || [];\nconst nextToken = page1.next_page_token || null;\n\nreturn [{\n  json: {\n    ...inputData,\n    results,\n    nextPageToken: nextToken,\n    totalFound: results.length\n  }\n}];"
      },
      "id": "collect-page1",
      "name": "Collect Page 1 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.nextPageToken }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "leftValue": "={{ $json.totalFound }}",
              "rightValue": "={{ $json.maxResults }}",
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "need-page2",
      "name": "Need Page 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 380]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "wait-page2",
      "name": "Wait 2s (token cooldown)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1380, 300],
      "webhookId": "wait-page2-001"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "pagetoken", "value": "={{ $json.nextPageToken }}" },
            { "name": "key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "places-search-page2",
      "name": "Places Search Page 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const page2 = $input.first().json;\nconst prev = $('Collect Page 1 Results').first().json;\nconst newResults = page2.results || [];\nconst allResults = [...prev.results, ...newResults];\n\nreturn [{\n  json: {\n    ...prev,\n    results: allResults,\n    nextPageToken: null,\n    totalFound: allResults.length\n  }\n}];"
      },
      "id": "collect-page2",
      "name": "Collect Page 2 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst maxResults = data.maxResults || 20;\nconst limited = data.results.slice(0, maxResults);\n\nreturn limited.map(place => ({\n  json: {\n    jobId: data.jobId,\n    campaignId: data.campaignId,\n    keyword: data.keyword,\n    location: data.location,\n    industry: data.industry,\n    placeId: place.place_id,\n    companyName: place.name,\n    address: place.formatted_address || '',\n    rating: place.rating || null,\n    totalRatings: place.user_ratings_total || 0,\n    businessStatus: place.business_status || 'OPERATIONAL',\n    types: (place.types || []).join(',')\n  }\n}));"
      },
      "id": "split-places",
      "name": "Split & Limit Places",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 380]
    },
    {
      "parameters": {
        "options": {
          "batchSize": 1
        }
      },
      "id": "loop-over-places",
      "name": "Loop Over Places",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2260, 380]
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "place_id", "value": "={{ $json.placeId }}" },
            {
              "name": "fields",
              "value": "website,formatted_phone_number,international_phone_number,opening_hours,business_status"
            },
            { "name": "key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" },
            { "name": "language", "value": "th" }
          ]
        },
        "options": {}
      },
      "id": "get-place-details",
      "name": "Get Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const detail = $input.first().json.result || {};\nconst prev = $('Loop Over Places').first().json;\n\nreturn [{\n  json: {\n    ...prev,\n    website: detail.website || null,\n    phone: detail.formatted_phone_number || detail.international_phone_number || null\n  }\n}];"
      },
      "id": "merge-details",
      "name": "Merge Place Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-website",
      "name": "Has Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2920, 380]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst website = lead.website || '';\n\n// Normalize URL\nlet base = website.trim();\nif (!base.startsWith('http')) base = 'https://' + base;\nbase = base.replace(/\\/$/, '');\n\nconst urls = [base, base + '/contact', base + '/about', base + '/contact-us'];\n\nreturn urls.map(url => ({ json: { ...lead, fetchUrl: url } }));"
      },
      "id": "prepare-urls",
      "name": "Prepare URLs to Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3140, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.fetchUrl }}",
        "options": {
          "timeout": 8000,
          "redirect": { "redirect": { "followRedirects": true, "maxRedirects": 3 } }
        }
      },
      "id": "fetch-website",
      "name": "Fetch Website Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all fetched HTML from each URL attempt\nconst items = $input.all();\nconst lead = $('Has Website?').first().json;\n\n// Combine all HTML\nlet allHtml = items.map(i => {\n  const body = i.json;\n  if (typeof body === 'string') return body;\n  if (body && body.data) return String(body.data);\n  return JSON.stringify(body);\n}).join(' ');\n\n// Extract emails with regex\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\nconst found = allHtml.match(emailRegex) || [];\n\n// Filter: remove image files, placeholder, noreply, etc.\nconst SPAM_PATTERNS = [\n  /\\.(png|jpg|jpeg|gif|svg|webp|ico|pdf|css|js)/i,\n  /^(noreply|no-reply|donotreply|support|help|webmaster|postmaster|mailer-daemon|bounce|admin@(gmail|yahoo|hotmail))/i,\n  /sentry|example\\.com|yourcompany|domain\\.com|email@|your@|name@|test@|user@|placeholder/i\n];\n\nconst unique = [...new Set(found)].filter(email => {\n  return !SPAM_PATTERNS.some(p => p.test(email));\n});\n\nconst email = unique[0] || null;\n\nreturn [{\n  json: {\n    ...lead,\n    email,\n    emailVerified: false,\n    allEmailsFound: unique\n  }\n}];"
      },
      "id": "extract-email",
      "name": "Extract Email from HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3580, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://157.85.98.97:3000/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-key", "value": "n8n-internal-secret-bestsolutions-2024" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'scraping_lead', jobId: $json.jobId, campaignId: $json.campaignId, lead: { companyName: $json.companyName, address: $json.address, website: $json.website, phone: $json.phone, email: $json.email || null, emailVerified: false, rating: $json.rating, totalRatings: $json.totalRatings, businessStatus: $json.businessStatus, types: $json.types, placeId: $json.placeId, keyword: $json.keyword, location: $json.location } }) }}",
        "options": {}
      },
      "id": "save-lead-backend",
      "name": "Save Lead to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3800, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://157.85.98.97:3000/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-internal-key", "value": "n8n-internal-secret-bestsolutions-2024" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'scraping_complete', jobId: $('Parse Input').first().json.jobId, data: { totalFound: $('Split & Limit Places').all().length, totalEmailsFound: 0, results: null } }) }}",
        "options": {}
      },
      "id": "mark-job-complete",
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2480, 560]
    }
  ],
  "connections": {
    "Webhook: scraping/start": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [
        [
          { "node": "Respond 202 Accepted", "type": "main", "index": 0 },
          { "node": "Places Search Page 1", "type": "main", "index": 0 }
        ]
      ]
    },
    "Places Search Page 1": {
      "main": [[{ "node": "Collect Page 1 Results", "type": "main", "index": 0 }]]
    },
    "Collect Page 1 Results": {
      "main": [[{ "node": "Need Page 2?", "type": "main", "index": 0 }]]
    },
    "Need Page 2?": {
      "main": [
        [{ "node": "Wait 2s (token cooldown)", "type": "main", "index": 0 }],
        [{ "node": "Split & Limit Places", "type": "main", "index": 0 }]
      ]
    },
    "Wait 2s (token cooldown)": {
      "main": [[{ "node": "Places Search Page 2", "type": "main", "index": 0 }]]
    },
    "Places Search Page 2": {
      "main": [[{ "node": "Collect Page 2 Results", "type": "main", "index": 0 }]]
    },
    "Collect Page 2 Results": {
      "main": [[{ "node": "Split & Limit Places", "type": "main", "index": 0 }]]
    },
    "Split & Limit Places": {
      "main": [[{ "node": "Loop Over Places", "type": "main", "index": 0 }]]
    },
    "Loop Over Places": {
      "main": [
        [{ "node": "Mark Job Complete", "type": "main", "index": 0 }],
        [{ "node": "Get Place Details", "type": "main", "index": 0 }]
      ]
    },
    "Get Place Details": {
      "main": [[{ "node": "Merge Place Details", "type": "main", "index": 0 }]]
    },
    "Merge Place Details": {
      "main": [[{ "node": "Has Website?", "type": "main", "index": 0 }]]
    },
    "Has Website?": {
      "main": [
        [{ "node": "Prepare URLs to Fetch", "type": "main", "index": 0 }],
        [{ "node": "Save Lead to Backend", "type": "main", "index": 0 }]
      ]
    },
    "Prepare URLs to Fetch": {
      "main": [[{ "node": "Fetch Website Page", "type": "main", "index": 0 }]]
    },
    "Fetch Website Page": {
      "main": [[{ "node": "Extract Email from HTML", "type": "main", "index": 0 }]]
    },
    "Extract Email from HTML": {
      "main": [[{ "node": "Save Lead to Backend", "type": "main", "index": 0 }]]
    },
    "Save Lead to Backend": {
      "main": [[{ "node": "Loop Over Places", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}