n8n-workflows/01-scraping-pipeline.json
{
  "name": "01 - Scraping Pipeline (Google Maps)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scraping-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: scraping/start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn [{\n  json: {\n    jobId: body.jobId,\n    campaignId: body.campaignId,\n    keywords: Array.isArray(body.keywords) ? body.keywords : [body.keywords],\n    location: body.location,\n    maxResults: body.maxResults || 100\n  }\n}];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"jobId\": $json.jobId, \"message\": \"Scraping started\" } }}",
        "options": {}
      },
      "id": "respond-accepted",
      "name": "Respond 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.keywords[0] + ' ' + $json.location }}" },
            { "name": "key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" },
            { "name": "language", "value": "th" },
            { "name": "type", "value": "establishment" }
          ]
        },
        "options": {}
      },
      "id": "google-places-search",
      "name": "Google Places Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst jobId = $('Parse Input').first().json.jobId;\nconst campaignId = $('Parse Input').first().json.campaignId;\n\nreturn results.map(place => ({\n  json: {\n    jobId,\n    campaignId,\n    placeId: place.place_id,\n    companyName: place.name,\n    address: place.formatted_address,\n    website: null,\n    phone: null,\n    rating: place.rating,\n    totalRatings: place.user_ratings_total,\n    lat: place.geometry?.location?.lat,\n    lng: place.geometry?.location?.lng,\n    types: place.types\n  }\n}));"
      },
      "id": "extract-places",
      "name": "Extract Places",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "place_id", "value": "={{ $json.placeId }}" },
            { "name": "fields", "value": "website,formatted_phone_number,international_phone_number" },
            { "name": "key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "get-place-details",
      "name": "Get Place Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "const detail = $input.first().json.result || {};\nconst prev = $('Extract Places').first().json;\n\nreturn [{\n  json: {\n    ...prev,\n    website: detail.website || null,\n    phone: detail.formatted_phone_number || detail.international_phone_number || null\n  }\n}];"
      },
      "id": "merge-details",
      "name": "Merge Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/n8n",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "specifyBody": "json",
          "jsonBody": "={\n  \"type\": \"scraping_lead\",\n  \"jobId\": \"{{ $json.jobId }}\",\n  \"campaignId\": \"{{ $json.campaignId }}\",\n  \"lead\": {\n    \"companyName\": \"{{ $json.companyName }}\",\n    \"address\": \"{{ $json.address }}\",\n    \"website\": {{ $json.website ? '\"' + $json.website + '\"' : 'null' }},\n    \"phone\": {{ $json.phone ? '\"' + $json.phone + '\"' : 'null' }},\n    \"rating\": {{ $json.rating || 'null' }}\n  }\n}"
        },
        "options": {}
      },
      "id": "save-lead-to-backend",
      "name": "Save Lead to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/webhooks/n8n",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "specifyBody": "json",
          "jsonBody": "={\n  \"type\": \"scraping_complete\",\n  \"jobId\": \"{{ $('Parse Input').first().json.jobId }}\",\n  \"status\": \"COMPLETED\"\n}"
        },
        "options": {}
      },
      "id": "mark-job-complete",
      "name": "Mark Job Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 400]
    }
  ],
  "connections": {
    "Webhook: scraping/start": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [
        [{ "node": "Respond 202 Accepted", "type": "main", "index": 0 }],
        [{ "node": "Google Places Search", "type": "main", "index": 0 }]
      ]
    },
    "Google Places Search": {
      "main": [[{ "node": "Extract Places", "type": "main", "index": 0 }]]
    },
    "Extract Places": {
      "main": [[{ "node": "Get Place Details", "type": "main", "index": 0 }]]
    },
    "Get Place Details": {
      "main": [[{ "node": "Merge Details", "type": "main", "index": 0 }]]
    },
    "Merge Details": {
      "main": [[{ "node": "Save Lead to Backend", "type": "main", "index": 0 }]]
    },
    "Save Lead to Backend": {
      "main": [[{ "node": "Mark Job Complete", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
